<!-- Dashboard -->
<div class="menu-item me-lg-1">
  <a class="menu-link py-3" routerLinkActive="menu-here" routerLink="#"><span class="menu-title"
      >Create Invoice</span>
  </a>
</div>
<div class="menu-item me-lg-1">
  <a class="menu-link py-3" routerLinkActive="menu-here" routerLink="#"><span class="menu-title"
      >Customer Payments</span>
  </a>
</div>
<div class="menu-item me-lg-1">
  <a class="menu-link py-3" routerLinkActive="menu-here" routerLink="#"><span class="menu-title"
      >BlackListed Customers</span>
  </a>
</div>
<div class="menu-item me-lg-1">
  <a class="menu-link py-3" routerLinkActive="menu-here" routerLink="#"><span class="menu-title"
      >New External Incoming Orders</span>
  </a>
</div>
