
<!-- begin::Row -->
<div class="row g-5 g-xl-10 mb-5 mb-xl-10">  
  <div class="col-xl-4">
    <app-stats-widget5
      svgIcon="./assets/media/icons/duotune/ecommerce/ecm002.svg"
      class="card bg-danger hoverable card-xl-stretch mb-xl-8"
      color="danger"
      iconColor="white"
      title="Total Customer: 0"
      description=""
    ></app-stats-widget5>
  </div>

  <div class="col-xl-4">
    <app-stats-widget5
      svgIcon="./assets/media/icons/duotune/graphs/gra005.svg"
      class="card bg-success hoverable card-xl-stretch mb-5 mb-xl-8"
      color="success"
      iconColor="white"
      title="Total Supplier: 0"
      description=""
    ></app-stats-widget5>
  </div>
  <div class="col-xl-4">
    <app-stats-widget5
      svgIcon="./assets/media/icons/duotune/ecommerce/ecm008.svg"
      class="card bg-primary hoverable card-xl-stretch mb-xl-8"
      color="primary"
      iconColor="white"
      title="Today Sale : 0$"
      description=""
    ></app-stats-widget5>
  </div>
</div>
<!-- end::Row -->

<!-- begin::Row -->
<div class="row g-5 g-xl-8">
  <div class="col-xl-4">
    <app-stats-widget5
      svgIcon="./assets/media/icons/duotune/general/gen032.svg"
      class="card bg-body hoverable card-xl-stretch mb-xl-8"
      color="white"
      iconColor="primary"
      title="Today Purchases: 0$"
      description=""
    ></app-stats-widget5>
  </div>

  <div class="col-xl-4">
    <app-stats-widget5
      svgIcon="./assets/media/icons/duotune/ecommerce/ecm008.svg"
      class="card bg-dark hoverable card-xl-stretch mb-xl-8"
      color="dark"
      iconColor="white"
      title="Today Expenses : 0$"
      description=""
    ></app-stats-widget5>
  </div>

  <div class="col-xl-4">
    <app-stats-widget5
      svgIcon="./assets/media/icons/duotune/finance/fin006.svg"
      class="card bg-warning hoverable card-xl-stretch mb-xl-8"
      color="warning"
      iconColor="white"
      title="Today Online Orders : 0"
      description=""
    ></app-stats-widget5>
  </div>
</div>
<div class="row g-5 g-xl-8">
  <div class="col-xl-4">
    <app-stats-widget5
      svgIcon="./assets/media/icons/duotune/general/gen032.svg"
      class="card bg-body hoverable card-xl-stretch mb-xl-8"
      color="white"
      iconColor="primary"
      title="Today Online Order Amount : 0$"
      description=""
    ></app-stats-widget5>
  </div>
  <div class="col-xl-4">
    <app-stats-widget5
      svgIcon="./assets/media/icons/duotune/graphs/gra007.svg"
      class="card bg-info hoverable card-xl-stretch mb-5 mb-xl-8"
      color="info"
      iconColor="white"
      title="Today System Order: 0"
      description=""
    ></app-stats-widget5>
  </div>
  <div class="col-xl-4">
    <app-stats-widget5
      svgIcon="./assets/media/icons/duotune/ecommerce/ecm002.svg"
      class="card bg-danger hoverable card-xl-stretch mb-xl-8"
      color="danger"
      iconColor="white"
      title="Today System Order Amount: 0$"
      description=""
    ></app-stats-widget5>
  </div>
</div>
<!-- end::Row -->
<!-- begin::Row-->
<div class="row g-5 g-xl-8">
  <div class="col-xl-6">
    <app-charts-widget1 class="card card-xl-stretch mb-xl-8">
    </app-charts-widget1>
  </div>
  <div class="col-xl-6">
    <app-charts-widget2 class="card card-xl-stretch mb-5 mb-xl-8">
    </app-charts-widget2>
  </div>
</div>
<!-- end::Row-->
<div class="row g-5 gx-xxl-8">
  <div class="col-xxl-8">
    <app-tables-widget5 class="card card-xxl-stretch mb-5 mb-xxl-8"></app-tables-widget5>
  </div>
</div>
